.company{
   margin: 50px;
   margin-top: 50px;
   display: flex;
}

.company_sidenav{
   height: 100%;
   width: 20%;
   position: sticky;
   z-index: 1;
   top: 0;
   left: 0;
   overflow-x: hidden;
   padding-top: 20px;
   ol {
      li{
         padding: 5px 0;
         cursor: pointer;
      }
   }
}
