.company{
   margin: auto;
   width: 1200px;
   margin-top: 50px;
}

.company_profile{
   background-color: lightgrey;
   padding: 25px;
}

.company_summary_bar_top{
   display: flex;
   justify-content: space-between;
}