.landing {
	background-color: lightcoral;
	padding-top: 100px;
	margin-top: -50px;
	height: 95vh;
}

.landing-fold {
	margin: auto;
	padding-top: 100px;
	display: flex;
	width: 1200px;
	align-items: center;
}

.landing-left {
	padding: 50px;
	h1,
	h2,
	p {
		color: white;
	}
	h1 {
		font-size: 48px;
	}
	h2 {
		font-weight: 400;
	}
}

.landing-applinks {
	padding-top: 25px;
	justify-content: center;
	display: flex;

	div{
		text-align: center;
		flex-wrap: wrap;
		max-width: 150px;
		margin: 30px;
	}
}

.landing-applink-img {
	margin-right: 25px;
	max-height: 50px;
	padding-bottom: 10px;
	cursor: pointer;
}

.landing-terms {
	max-width: 300px;
}

.landing-second {
	margin: 0;
	background-color: ghostwhite;
	padding: 50px;
	h1 {
		font-size: 48px;
		text-align: center;
	}
}

.landing-second-why {
	display: flex;
	justify-content: center;
	padding-top: 50px;
	flex-wrap: wrap;

	div {
		text-align: center;
		width: 400px;
		height: 200px;
		padding: 50px;
	}
	div:hover {
		background-color: white;
	}
}
